{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
{% endblock %}

{% block styles %}
{{super()}}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

{% endblock %}

{% block page_content %}


<div class="container">

    <div id="container"></div>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-left">

                <button href="#test" role="button" class="btn btn-default navbar-btn" data-toggle="modal">Add</button>
                
            </div>
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    {{ wtf.quick_form(form, enctype="multipart/form-data", form_type="inline") }}
                </div>
            </div>
        </div>
    </nav>
    
</div>



<div class="container">


    <table id="transtable" class="display compact" cellspacing="0" width="80%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Trade</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Commission</th>
                <th>Fee</th>
            </tr>

        </thead>

        <tfoot>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Trade</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Commission</th>
                <th>Fee</th>
            </tr>
        </tfoot>
        
        
    </table>

</div>


{% endblock %}

{% block scripts %}
{{ super() }}


<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script>

    var del_changes = [];
    var add_changes = [];

    function Timestamp(date) {
        a=date.split(" ");
        return a[0];
    }

    var data={{ transactions|safe }};

    for(var i = 0; i < data.length; i++) {
        data[i].Shares = (parseFloat(data[i].Shares)).toFixed(2);
        data[i].Price = (parseFloat(data[i].Price)).toFixed(2);
        data[i].Comission = (parseFloat(data[i].Comission)).toFixed(2);
        data[i].Fee = (parseFloat(data[i].Fee)).toFixed(2);
    }

    $(document).ready(function() {
        var table=   $('#transtable').DataTable( {
            data: data,


            columns: [
                { data: 'ID',  visible: false},
                { data: 'Date', },
                { data: 'Trade' },
                { data: 'Symbol' },
                { data: 'Shares' },
                { data: 'Price' },
                { data: 'Commission' },
                { data: 'Fee' },
            ],
            "columnDefs": [ 
                {
                    className: 'text-right', 
                    targets: [4,5,6,7]
                }
            ],
            iDisplayLength: 20,
            order: [[ 1, "desc" ]]
        });

 });
</script>



{% endblock %}